body{
  font-family: sans-serif !important ;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container{
  flex: 1;
  margin-top: 5rem;
}

/* Navbar */
.navbar{
  height: 5rem;
  background-color: white !important;
  border: 0;
}

.nav-link{
  color : #222222 !important ;
}



     /* footer */
.f-info-links a{
  text-decoration: none;
  color: #222222;
}
  
.f-info-links a :hover{
  text-decoration: underline;
}

.f-info-socials ,
.f-info-links,
.f-info-brands{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
  
.f-info-socials i{
  margin-right: 2rem;
  font-size: 1.2rem;
}

footer{
  width: 100%;
}

.f-info{
  text-align: center;
  background-color:#ebebeb;
  height: 7rem;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: space-evenly;
}

/* CARD */
.card{
  border: none !important;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
img{
  height: 15rem;
  width : 15rem;
}
.card-body{
  padding: 0;
}
.card-text p{
  font-weight: 400;
}
.cars-link{
  text-decoration: none ! important;
}

/* card effect */
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{
opacity: 0.2;
background-color: white;
box-shadow: 10px 15px 10px black;
}
  